#theme-switch {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 50%;
  transform: translateY(5%);

  label, .toggle {
    height: 1.8rem;
    border-radius: 100px;
  }
  label {
    width: 100%;
    background-color: rgba(0,0,0,.1);
    border-radius: 100px;
    position: relative;
    margin-bottom: 6rem; 
    cursor: pointer;
  }
  .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .names {
    font-size: 90%;
    font-weight: bolder;
    width: 65%;
    margin-left: 17.5%;
    margin-top: .5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  .names p {
    margin-top: 5px !important;
  }
  .dark {
    opacity: .5;
  }

  [type="checkbox"]{
    display: none;
  }

  &.dark .toggle{
    transform: translateX(100%);
    background-color: #34323D;
  }
  &.dark .dark{
    opacity: 1;
  }
  &.dark .light{
    opacity: .5;
  }
}